<!-- Footer -->
<div class="row">
    <div class="col-md-12 footer-wrapper">
      <div class="footer-wrapper-end">
        <div class="row">
          <div class="col-md-2">
            <ul>
              <li>SHOP</li>
              <li>SERVICE</li>
              <li>BLOG</li>
              <li>ABOUT</li>
              <li>PRESS</li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul>
              <li>STOCKIST</li>
              <li>MY ACCOUNT</li>
              <li>RETURN POLICY</li>
              <li>SHIPPING INFO</li>
              <li>PAYMENT SECURITY</li>
              <li>CONTACT US</li>
              <li>TERMS PRIVACY</li>
            </ul>
          </div>

          <div class="col-md-4">
            <ul>
              <li>
                <img
                  src="https://www.adornia.com/cdn/shop/t/20/assets/adornia-logo_new-white.png?v=139998225576686041341651109229"
                  width="220px"
                  height="30px"
                  alt=""
                />
              </li>
              <li style="margin-top: 40px">NEWS LETTER</li>
              <li style="margin-top: 20px">FOLLOW US ON SOCIAL MEDIA</li>
              <li style="margin-top: 20px">FIND US</li>
            </ul>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <p class="text-center text-white">Coryright Adornia &copy;</p>
          </div>
        </div>
      </div>
    </div>
  </div>